@font-face {
    font-family: signature;
    src: url(../../public/fonts/England.ttf);
}
@font-face {
    font-family: title;
    src: url(../../public/fonts/earthorbitertitle.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

    box-shadow: inset 0 0 100px #000;
}
body {
    background-color: #111;
    color: lime;
    padding-bottom: 20vh;
}
.hidden {
    display: none;
}
.fade-out {
    display: none;
    transition: ease-in-out 1000ms;
}
#fullscreenToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    /* border: solid 1px #4767ac; */
    border: solid 1px rgb(71, 103, 172);
    display: flex;
    align-items: center;
    justify-content: center;
}
#fullscreenToggle img {
    max-width: 100%;
    max-height: 100%;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 2px #000) grayscale(100%);
}
#pageHeader {
    
}
.company-header {
    width: 100%;
    height: 225px;
    margin-inline: auto;
    margin-top: 10rem;
    margin-bottom: 8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-shadow: inset 0 0 100px #0000009c, inset 0 0 20px #000000b9, 0 0 30px rgba(71, 103, 172, 0.486);
    text-align: center;
    border-top: solid 1px rgb(71, 103, 172);
    border-bottom: solid 1px rgb(71, 103, 172);
    transition: ease-in-out 1000ms;
}
.company-name {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -5;
    opacity: 0.25;
    background-image: url('../media/images/2d/1.jpg');
    background-size: cover;
    background-position: center;
}
.header-bg-overlay {
    position: absolute;
    z-index: -2;
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.company-logo {
    /* opacity: 0.45; */
    z-index: 1000;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    border: solid 1px rgb(71, 103, 172);
    border-radius: 0.5rem;
    backdrop-filter: blur(6px);
    background-color: #00000060;
    max-width: 50px;
    box-shadow: 0 30px 40px #0000003b;

}
.header-logo {
    max-width: 100%;
    user-select: none;
}
.company-header > .company-name > h1 {
    margin-top: 2rem;
    color: #e6e6e6;
    font-size: 3.75rem;
    margin-bottom: 2.75rem;
    font-family: signature;
    text-shadow: 0 20px 3px rgba(0, 0, 0, 0.3);
}
.company-header > .company-name > h5 {
    font-family: title;
    font-weight: 100;
    letter-spacing: 2px;
    color: rgb(71, 103, 172);
    font-size: 0.8rem;
    font-weight: lighter;
    margin-bottom: 2rem;
    text-shadow: 0 8px 2px rgba(0, 0, 0, 0.3), 0 0 1px #ffffff8f;
}

.image-gallery {
    width: 90%;
    max-width: 90vw;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 12rem;
}
.image-gallery img {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 1rem;
    opacity: 0.5;
    box-shadow: 0 0 14px rgb(71, 103, 172);
    transition: ease-in-out 250ms;
}
.image-gallery img:hover {
    opacity: 1;
}




/* Main Menu */

h1 {
    text-align: center;
    font-family: signature;
    font-size: 3rem;
    color: #fff;
    margin-top: 3rem;
}
#mainMenuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgb(71, 103, 172);
    justify-content: flex-end;
    background-color: #11111175;
    backdrop-filter: blur(10px);
    box-shadow: 0 -3px 10px rgba(71, 103, 172, 0.452);
}
#mainMenu {
}
#mainMenu ul {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 1rem;
}

#mainMenu > ul > li {
    /* font-size: 2rem; */
    backdrop-filter: blur(8px);
    background-color: #11111113;
    border: solid 1px rgba(71, 103, 172, 0.514);
    list-style: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
#mainMenu>ul>li:first-of-type {
    margin-left: 1rem;
}
#mainMenu>ul>li:last-of-type {
    margin-right: 1rem;
    
}
#mainMenu>ul>li>a {
    color: #ffffffbe;
    text-decoration: none;
    font-family: title;
    font-family: signature;
    font-weight: 100;
    text-shadow: 0 0 4px #000;
    font-size: 1.5rem;
}

#mainMenu>ul>li>a:active {

}

/* Image Search */
.search {
    position: relative;
    border-top: solid 1px rgb(71, 103, 172);
    border-bottom: solid 1px rgb(71, 103, 172);
}
.search>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.15;
    backdrop-filter: blur(10px);
}

.search .content {
    position: relative;
    z-index: 2;
}

.search h5 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: title;
    color: #fff;
    text-shadow: 0 6px 2px rgb(0, 0, 0), 0 0 1px #ffffff8f;
    font-weight: 100;
    font-size: 1.15rem;
}

.search .search-box {
    height: 55px;
    margin: 45px 0;
    border-top: solid 1px rgb(71, 103, 172);
    border-bottom: solid 1px rgb(71, 103, 172);
    box-shadow: 0 0 12px rgb(71, 103, 172);
}
.search-box img {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    filter: grayscale(75%) drop-shadow(0 0 2px #000);
    top: 50%;
    transform: translateY(25%);
}
.search-box input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-left: 55px;
    background-color: rgb(24, 37, 66);
    transition: ease-in-out 250ms;
    color: #fff;
}
.search-box input:focus {
    background-color: #ccc;
    color: #222;    
}


.gallery {

}

.images {
    margin-top: 40px;
    gap: 15px;
    columns: 5 340px;
}

.card {
    list-style: none;
    margin-bottom: 14px;

}

.images img {
    width: 100%;
    border-radius: 0.25rem;
    opacity: 0.25;
    transition: ease-in-out 500ms;
}
.images img:hover {
    opacity: 1;
}
.load-more {
    width: 100%;
    margin-top: 2rem;
    background-color: rgb(71, 103, 172);
    color: #222;
    font-size: 1.5rem;
    box-shadow: inset 0 0 6px #cccccca1, 0 0 20px #000000;
    font-family: title;
    outline: none;
    border: none;
    border-top: solid 1px #00000093;
    border-bottom: solid 1px #00000093;
    padding: 0.5rem;
    cursor: pointer;
}


.phone-number {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: title;
    text-align: center;
}
.phone-number a {
    color: rgb(71, 103, 172);
    text-decoration: none;
}



.dev-media-container {
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: flex-start;
}

.dev-media-container img {
    width: 500px;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 1rem;
    /* border: solid 1px rgba(71, 103, 172, 1); */
    border-top: solid 1px rgb(71, 103, 172);
    border-bottom: solid 1px rgb(71, 103, 172);
    box-shadow: inset 0 0 100px #0000009c, inset 0 0 20px #000000b9, 0 0 30px rgba(71, 103, 172, 0.486);
    opacity: 0.5;
    transition: ease-in-out 500ms;
}
.dev-media-container img:hover {
    opacity: 0.8;
}