@font-face {
    font-family: signature;
    src: url(../../public/fonts/England.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: lime;
}

.company-header {
    width: 90%;
    margin-inline: auto;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}
.header-logo {
    filter: drop-shadow(0 0 8px rgb(71, 103, 172));
    opacity: 0.25;
    opacity: 1;
    border: solid 1px rgba(71, 103, 172, 0.527);
    box-shadow: inset 0 0 6px rgba(71, 103, 172, 0.534), 0 15px 10px #000;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.75rem;
    width: 85px;
    max-width: 75vw;
}
.company-header > h1 {
    margin-top: 1rem;
    color: #e6e6e6;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-family: signature;
    text-shadow: 0 0 10px rgb(71, 103, 172);
}
.company-header > h5 {
    font-family: signature;
    font-weight: lighter;
    color: rgb(71, 103, 172);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.image-gallery {
    width: 90%;
    max-width: 90vw;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
.image-gallery img {
    width: 500px;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 1rem;
    opacity: 0.5;
    box-shadow: 0 0 14px rgb(71, 103, 172);
    transition: ease-in-out 250ms;
}
.image-gallery img:hover {
    opacity: 1;
}




/* Main Menu */

h1 {
    text-align: center;
    font-family: signature;
    font-size: 3rem;
    color: #fff;
    margin-top: 3rem;
}
#mainMenuContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #11111175;
    backdrop-filter: blur(1px);
    box-shadow: 0 -3px 10px rgba(71, 103, 172, 0.452);
}
#mainMenu {
}
#mainMenu ul {
    padding-top: 0.5rem;
    padding-bottom: 0.15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 1rem;
}

#mainMenu > ul > li {
    font-size: 2rem;
    backdrop-filter: blur(8px);
    background-color: #11111133;
    border: solid 1px rgba(71, 103, 172, 0.514);
    list-style: none;
    border-radius: 0.5rem;
    padding: 0.25rem;
}
#mainMenu>ul>li:first-of-type {
    margin-left: 1rem;
}
#mainMenu>ul>li:last-of-type {
    margin-right: 1rem;
    
}
#mainMenu>ul>li>a {
    color: rgb(71, 103, 172);
    text-decoration: none;
    font-family: signature;
    text-shadow: 0 0 3px #fff;
    font-size: 2.5rem;
}

#mainMenu>ul>li>a:active {

}

